[submodule "Carthage/Checkouts/HanekeSwift"]
	path = Carthage/Checkouts/HanekeSwift
	url = https://github.com/Haneke/HanekeSwift.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/APIKit"]
	path = Carthage/Checkouts/APIKit
	url = https://github.com/ishkawa/APIKit.git
[submodule "Carthage/Checkouts/Argo"]
	path = Carthage/Checkouts/Argo
	url = https://github.com/thoughtbot/Argo.git
[submodule "Carthage/Checkouts/Curry"]
	path = Carthage/Checkouts/Curry
	url = https://github.com/thoughtbot/Curry.git
[submodule "Carthage/Checkouts/WebLinking.swift"]
	path = Carthage/Checkouts/WebLinking.swift
	url = https://github.com/kylef/WebLinking.swift.git
[submodule "Carthage/Checkouts/ReactiveArray"]
	path = Carthage/Checkouts/ReactiveArray
	url = https://github.com/inamiy/ReactiveArray.git
[submodule "Carthage/Checkouts/FontAwesome.swift"]
	path = Carthage/Checkouts/FontAwesome.swift
	url = https://github.com/thii/FontAwesome.swift.git
[submodule "Carthage/Checkouts/Rex"]
	path = Carthage/Checkouts/Rex
	url = https://github.com/RACCommunity/Rex.git
[submodule "Carthage/Checkouts/Cartography"]
	path = Carthage/Checkouts/Cartography
	url = https://github.com/robb/Cartography.git
[submodule "Carthage/Checkouts/ReactiveAutomaton"]
	path = Carthage/Checkouts/ReactiveAutomaton
	url = https://github.com/inamiy/ReactiveAutomaton.git
[submodule "Carthage/Checkouts/Pulsator"]
	path = Carthage/Checkouts/Pulsator
	url = https://github.com/shu223/Pulsator.git
