[submodule "Carthage/Checkouts/HanekeSwift"]
	path = Carthage/Checkouts/HanekeSwift
	url = https://github.com/meteochu/HanekeSwift.git
[submodule "Carthage/Checkouts/Himotoki"]
	path = Carthage/Checkouts/Himotoki
	url = https://github.com/ikesyo/Himotoki.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/APIKit"]
	path = Carthage/Checkouts/APIKit
	url = https://github.com/ishkawa/APIKit.git
